.bet {
  height: 50px;
  width: 100%;
  background-color: $neutral-grey;
}

.bets .table-head {
  background-color: $black;
  color: $white;
  height: 30px;
  padding: 2px;
}

.bets {
  text-align: center;
  width: 100%;
}

.bets td {
  border: 1px solid $black;
  padding: 10px 5px;
}