<!DOCTYPE html>
<html>
{% include 'AppBundle:Common:head.html.twig' %}
<body class="skin-blue layout-boxed sidebar-mini">
{% include 'AppBundle:Common:header.html.twig' %}
{% block content %}{% endblock %}
{% include 'AppBundle:Common:footer.html.twig' %}
</body>
</html>
