{% extends 'AppBundle:Common:base.html.twig' %}
{% block content %}
<div class="content">
    {% include 'AppBundle:Bets:filters.html.twig' %}
    <div class="bets-block">
        <table>
            <tr>
                <th>

                </th>
            </tr>
        </table>
    </div>
</div>
{% endblock %}