.filters {
  width: 100%;
  background-color: $neutral-grey;
  padding: 10px 0 20px 0;
}

.filter-column {
  margin-right: 20px;
  width: 250px;
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}